.tabs {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    &__item {
        margin-right: 30px;
        font-weight: 600;
        cursor: pointer;
    }
}