.container {
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}

.head {
  position: sticky;
  background-color: orangered;
  padding: 10px;
  font-size: 20px;
  border-radius: 6px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.head .head_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.head .head_ul li {
  display: inline-block;
}

.head .head_ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 6px;
}

.head .head_ul li a:hover {
  background: linear-gradient(180deg, orangered, white);
}

.box1 {
  text-align: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
  height: 100vh;
  width: 100%;
  background-color: #e5e9f0;
  padding: 10px 0px;
  border-radius: 6px;
  padding: 10px;
}

.box2 {
  position: absolute;
  background-color: greenyellow;
  height: 100px;
  width: 100px;
  line-height: 100px;
  top: 20px;
  left: 20px;
  border-radius: 6px;
}

.box3 {
  position: absolute;
  background-color: red;
  height: 100px;
  width: 100px;
  line-height: 100px;
  top: 30px;
  right: 70px;
  border-radius: 6px;
}

.box4 {
  position: absolute;
  background-color: red;
  height: 100px;
  width: 100px;
  line-height: 100px;
  right: 60px;
  bottom: 30px;
  border-radius: 6px;
}

.box5 {
  position: absolute;
  background-color: red;
  height: 100px;
  width: 100px;
  line-height: 100px;
  left: 50px;
  bottom: 40px;
  border-radius: 6px;
}

.text {
  background-color: blue;
  color: white;
  padding: 60px 30px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}


.text::before {
  content: "";
  background-color: #004ea3;
  width: 100px;
  position: absolute;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  top: 20px;
  left: 20px;
}

.text::first-line {
  text-transform: uppercase;
}

.text::first-letter {
  font-size: 30px;
}

.text::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(60deg, #8d9298, #b9bec6);
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  bottom: -30px;
  right: -30px;
  display: inline-block;
}

.text::selection {
  background-color: wheat;
  color: #000;
}

.container-1 {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  background-color: blue;
  border-radius: 8px;
  padding: 60px 30px;
}

.container-1 .inner-content {
  color: white;
  position: relative;
  z-index: 1;
}

.container-1 .inner-content::first-letter {
  font-size: 40px;
}

.container-1 .inner-content::first-line {
  text-transform: uppercase;
}

.container-1::before {
  display: block;
  position: absolute;
  content: "";
  width: 120px;
  height: 120px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0.5;
  top: 20px;
  left: 20px;
}

.container-1::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0.4;
  bottom: -50px;
  right: -50px;
}