.list {
  list-style-type: square;
  list-style-position: inside;
}

table,
th,
td {
  border: 1px solid wheat;
}

th,
td {
  padding: 10px;
}
th {
  background-color: orangered;
  color: white;
}

table {
  border-collapse: collapse;
  /* Dùng để gộp thành 1 đường viền */
}

.inline,
.block,
.inline-block {
  background-color: orange;
  border: 1px solid #000;
}

.inline {
  height: 200px;
  width: 200px;
  margin: 10px 20px;
  padding: 10px 20px;
  /* đè lên chữ khác => không được */
}

.block {
  display: block;
  height: 40px;
  width: 200px;
  margin: 10px 20px;
  padding: 10px 20px;
}

.inline-block {
  display: inline-block;
  height: 40px;
  width: 200px;
  margin: 10px 20px;
  padding: 10px 20px;
}

.nonee {
  display: none;
}

.hidden {
  visibility: hidden;
}

.box1,
.box2 {
  background-color: orange;
  border: 3px solid #000;
  height: 100px;
  width: 200px;
}

.box2 {
  position: relative;
  top: 50px;
  left: 100px;
}

.box3 {
  background-color: blue;
  border: 5px solid orangered;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.box4 {
  background-color: orangered;
  border: 5px solid #000;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 20px;
  left: 20px;
}

.box5 {
  background-color: orangered;
  border: 5px solid #000;
  width: 88px;
  height: 80px;
  position: sticky;
  top: 20px;
  left: 0;
}

.header {
  background-color: red;
  border: 2px dashed orange;
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0;
  left: 0;
}
