@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.box3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Fraunces", serif;
}

.box2,
.box3,
.box4 {
  font-size: 30px;
}

.box1 {
  padding: 50px;
  border: 10px solid #000;
  margin-bottom: 100px;
  text-align: justify;
  text-transform: capitalize;
  font-style: italic;
  font-size: 50px;
}

.box2 {
  padding: 25px 50px;
  border: 10px dashed #ff0000;
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: center;
  color: blue;
  background-color: greenyellow;
  background-clip: content-box;
}

.box3 {
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: rgb(1, 13, 255);
  border: 10px double #000;
  padding: 20px 50px;
  color: white;
  /*Áp dụng cho content */
  height: 50vh;
  width: 50vw;
  min-width: 200px;
  max-width: 400px;
  min-height: 200px;
  max-height: 300px;
}

.box4 {
  background-image: url(image/IMG_2345.JPG);
  width: 1000px;
  height: 900px;
  background-size: auto;
  border: 10px dotted red;
  padding: 50px;
  margin: 25px 30px;
  background-repeat: no-repeat;
  text-transform: uppercase;
}
