.section-one .inner-main {
  border-radius: 10px;
  overflow: hidden;
}

.section-one .inner-head {
  background: -webkit-linear-gradient(-30deg, #f57f20, #d62b08 100%);
  padding: 10px;
  text-align: center;
}

.section-one .inner-head .inner-title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.section-one .inner-body {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.section-one .card {
  border: 0;
  margin-bottom: 10px;
}

.section-one .card-header {
  background: #fff;
  border: 0;
  padding: 0;
}

.section-one .btn {
  border: 1px solid transparent;
  color: #f57f20;
  text-decoration: none;
}

.section-one .btn:focus {
  box-shadow: none;
}

.section-one .btn.collapsed {
  /* Khi btn đóng */
  border: 1px solid #ddd;
  margin-bottom: 5px;
  color: #000;
}

.section-two {
  margin-top: 60px;
}

.section-two .inner-main {
  border-radius: 10px;
  overflow: hidden;
}

.section-two .inner-head {
  background: -webkit-linear-gradient(-30deg, #f57f20, #d62b08 100%);
  padding: 10px;
  text-align: center;
}

.section-two .inner-head .inner-title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.section-two .inner-body {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}
/* .section-two .inner-body .row .col-xl-12 .button */
.button {
  background: -webkit-linear-gradient(-30deg, #f57f20, #d62b08 100%);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
}

.modal-form .modal-content {
  border-radius: 10px;
}

.modal-form .modal-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-form .modal-header .close {
  position: absolute;
  top: -2px;
  right: -2px;
  opacity: 1;
  background-color: #d62b08;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form .modal-header .inner-img {
  height: 50px;
  width: auto;
  margin-bottom: 8px;
}

.modal-form .modal-header .inner-title {
  font-size: 22px;
  font-weight: 700;
}

.modal-form .modal-header .inner-desc {
  margin-bottom: 0;
}

.modal-form .modal-body .text-center .button {
  width: 100%;
}

.section-three .col-xl-20 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

