@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
} 

body {
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
}

a {
  text-decoration: none;
}

.header .container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.header {
    background-color: #0A033C;
    padding: 10px 0
}

.header .container .warp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .warp .logo a img {
    width: auto;
    height: 56px;
}

.header .container .warp .menu ul {
  margin: 0;
  padding:  0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header .container .warp .menu ul li {
  margin: 0 20px;
}

.header .container .warp .menu ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.header .container .warp .menu ul li a:hover {
  color: #00ADEF;
}

.header .button {
  background-color: #ffffff;
  padding: 10px 30px;
  color: #0A033C;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  display: inline-block;
}

.header .button:hover {
  background-color: #00ADEF;
  color: #ffffff;
}