@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  background-color: #f9f9ff;
  padding: 80px 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

section .container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

section .container .title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #192335;
  margin-top: 0;
  margin-bottom: 30px;
}

section .container .list {
  display: flex;
  flex-wrap: wrap;
}

section .container .list .item {
  width: calc(25% - 60px / 4);
  margin-right: 10px;
  border: 2px solid #ddd;
  background-color: #ffffff;
  border-radius: 10px;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
}

.item:nth-child(4n) {
  margin-right: 0;
}

.item .inner-image {
  width: 80px;
  height: 80px;
}

.item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item .inner-content {
  width: calc(100% - 80px);
  padding-left: 10px;
}

.item .inner-content .inner-title {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 16px;
}

.item .inner-content .inner-title a {
  color: #192335;
}

.item .inner-content .inner-title a:hover {
  color: #2f57ef;
}

.item .inner-content .inner-button {
  color: #192335;
  font-size: 13px;
}

.item .inner-content .inner-button i {
  margin-right: 5px;
}

.item .inner-content .inner-button:hover {
  color: #2f57ef;
}
