@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.section {
  background-color: #f9f9ff;
  padding: 80px 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.section .container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.section .container .title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 0;
  color: #192335;
}

.section .container .list {
  display: flex;
  flex-wrap: wrap;
}

.section .container .list .item {
  width: calc(25% - 60px / 4);
  margin-right: 10px;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.list .item:nth-child(4) {
  margin-right: 0;
} 

.item .inner-image img{
    width: 100%;
    /* object-fit: contain; */
    height: 150px;
    border-radius: 10px;
}

.item .inner-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    padding: 15px;
    position: relative;
    border: 2px solid #2F57EF;
    margin-right: auto;
    margin-left: auto;
    margin-top: -35px;
}

.item .inner-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item .inner-title a {
    color: #192335;
}

.item .inner-title a:hover {
    color: #2F57EF;
}

.item .inner-button {
    color: #192335;
    font-size: 13px;
    font-weight: 500;
}

.item .inner-button:hover {
    color: #2F57EF;
}

.item .inner-button i {
    margin-right: 5px;
}