@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.section {
  background-color: #faf9ff;
  padding: 80px 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.section .container {
  width: 1180px;
  margin-right: auto;
  margin-left: auto;
}

.section .container .title {
  color: #192335;
  font-size: 48px;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 0;
}

.section .container .list {
  display: flex;
  flex-wrap: wrap;
}

.section .container .list .item {
  width: calc(100% / 3 - 60px / 3);
  margin-right: 20px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 12px;
  margin-top: 75px;
}

.section .container .list .item:nth-child(3) {
  margin-right: 0;
}

.section .container .list .item .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #e6e3f1;
  margin-left: auto;
  margin-right: auto;
  margin-top: -75px;
}
.section .container .list .item .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.section .container .list .item .content {
  padding: 20px;
}

.section .container .list .item .content .name {
  color: #192335;
  margin-top: 0;
  margin-bottom: 15px;
}

.section .container .list .item .content .position {
  color: #2f57ef;
  font-size: 14px;
  margin-bottom: 15px;
}

.section .container .list .item .content .address {
  color: #6b7385;
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 15px;
}

.section .container .list .item .content .description {
  color: #6b7385;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 0;
}

.section .container .list .item .content .socials {
  display: flex;
  justify-content: center;
}

.section .container .list .item .content .socials a {
  margin: 0 10px;
  color: #6b7385;
  font-size: 18px;
}

.section .container .list .item .content .socials a:hover {
  color: #2f57ef;
}
